@import url(/css/reset.css);

body {
    font-family: 'IBM Plex Serif', serif;
    color: black;
    font-size: 14px;
}

.contanier {
    max-width: 1230px;
    padding: 0px 30px;
    margin: 0 auto;
}

/* header */

.header {
    background-color: #F1F1F1;
    padding-top: 46px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 76px;
}


.logo {
    font-weight: 700;
    font-size: 32px;
    color: black;
    line-height: 0.9;
}

/* nav */


.nav__list {
    display: flex;
    column-gap: 50px;
    font-size: 14px;
    font-weight: 700;
}

.nav__link {
    color: black;
}

.header__row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.header__content {
    max-width: 500px;
    margin-top: 120px;
    margin-bottom: 110px;
}
.header__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 44px;
}
.header__text {
    line-height: 2;
}
.header__img {
    margin-top: 100px;
}

.fa-bus {
    color: rgb(6, 98, 31);
    padding-bottom: 15px;
}

.routes {
    padding-top: 50px;
    padding-bottom: 50px;
}


.routes__wrapper {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    row-gap: 15px;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    font-size: 16px;
}

.card h6 {
    padding-bottom: 15px;
    font-weight: 700;
}

.card p {
    text-align: center;
    padding-bottom: 15px;
}

.card__batton-link {
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    background-color:rgb(147, 65, 246);
    color: white;
}

.card__batton-link:hover {
    background-color: rgb(59, 7, 123);
}

.title {
    font-size: 34px;
    font-weight: 700;
}

.title::after {
    content:'';
    display: block;
    margin: 0 auto;
    width: 20%;
    height: 4px;
    background-color:black;
    margin-top: 15px;
}

.routes__title {
    text-align: center;
    margin-bottom: 40px;
}

.autopark {
    background-color:#F1F1F1;
    padding: 50px 0px;
}

.autopark__title {
    text-align: center;
    margin-bottom: 50px;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}


.gallery__item {
    position: relative;
    max-width: 500px;
    background-color: #fff;
}

.gallery__item img {
    max-width: 100%;
    height: auto;
}

.gallery__item .gallery__text {
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
}

.gallery__item .gallery__text p {
    margin: 20px 0;
}

.gallery__text  p{
    font-size: 20px;
}
.gallery__title {
    font-weight: 700;
}

.about__text {
    font-size: 18px;
}


.about {
padding-top: 50px;
padding-bottom: 50px;
}

.about__title {
    text-align: center;
    margin-bottom: 50px;
}


.about__content {
    display: flex;
    align-items: center;
}
.about__text {
    max-width: 500px;
}
.about__photo {
    object-fit: cover;
}
.about__guarantees {
    display: flex;
    background-color: rgb(147, 65, 246);
    font-size: 20px;
    font-weight: 700;
    color: #F1F1F1;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-bottom: 50px;
}
.about__guarantees-item {
    display: flex;
    align-items: center;
    flex: 33%;
}

.about__guarantees-item i {
    margin-right: 15px;
}

.about__title-license {
    text-align: center;
    margin-bottom: 50px;
}

.about__license {
    display: flex;
    column-gap: 15px;

}

.contacts {
    background: #2af5b1;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contacts__title {
    margin-bottom: 50px;
    text-align: center;
}

.contacts__wrapper {
    display: flex;
    justify-content: space-evenly;
    column-gap: 50px;
    margin-bottom: 50px
}

.contacts__wrapper h3 {
    font-size: 25px;
    font-weight: 700;
}

.contacts__numbers {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    margin-bottom: 50px;
}

.contacts__numbers a {
    color: inherit;
    font-size: 20px;
    
}
.contacts__email {
    display: flex;
    flex-direction: column;
    row-gap: 50px;

}


.contacts__email a {
    color: black;
    font-size: 20px;
}

.contacts__form {
    min-width: 50%;
}
.form__connection {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 50px;
    background-color:rgb(96, 251, 243);
    border-radius: 5px;
    padding: 50px;
}

.form__connection legend {
    font-size: 20px;
    font-weight: 700;
}

.form__connection input:not(:last-child) {
    background-color: white;
    padding: 25px;
}

.form__connection input:last-child {
    background:#e162d0;
    max-width: 150px;
    padding: 15px;
    border-radius:5px;
}

.form__connection input:last-child:hover {
    background-color: #f992eb;
}


.footer {
    background: rgb(45, 45, 45);
    padding: 50px 0;
    color: white;
    font-size: 16px;
}

.foorer__wrapper {
    display: flex;
    justify-content: space-between;
}
.logo-footer {
    color: #fff;
    font-weight: 700;
}
.footer__nav {
    display: flex;
    flex-direction: column;

}
.nav__link-footer {
    color: white;
}
.footer__contacts {
    display: flex;
    flex-direction: column;
}